---
import { markdownify } from "@/lib/utils/textConverter";
const { upcoming_cohorts } = Astro.props;
---

{
  upcoming_cohorts.data.enable && (
    <section id="upcoming-cohorts" class="section">
      <div class="container">
        <div class="row">
          <div class="md:col-7">
            <h2 set:html={markdownify(upcoming_cohorts.data.title)} class="mb-4" />
            <div class="flex flex-col gap-2">
              {upcoming_cohorts.data.cohorts.map(
                (cohort: { name: string; description?: string; duration?: string; dates: string }) => {
                  const descriptionPart = cohort.description ? `: ${cohort.description}` : '';
                  const durationPart = cohort.duration ? `${cohort.duration}, ` : '';
                  const fullText = `${cohort.name}${descriptionPart} (${durationPart}${cohort.dates})`;
                  return (
                    <div class="text-lg font-medium text-text-dark dark:text-white">
                      {fullText}
                    </div>
                  );
                }
              )}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}

