---
import Base from "@/layouts/Base.astro";
import books from "@/data/books.js";
import type { Book, Link } from "@/types";
const page_title = "Books";
---

<Base title={page_title}>
  <section class="section">
    <div class="container">
      <div class="row mb-8 justify-center">
        <div class="col-auto">
          <h1 class="h1 mb-8 text-center">{page_title}</h1>
        </div>
      </div>
      <div class="row gy-4 justify-center">
        {
          books.map((book: Book) => (
            <div class="col-12 sm:col-6 md:col-4">
              <div class="rounded-lg bg-theme-light p-8 text-center dark:bg-darkmode-theme-light">
                <a
                  href={book.links[0].url}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    class="mx-auto mb-4"
                    src={book.cover}
                    alt={book.title}
                    width="150"
                    height="200"
                  />
                </a>
                <h4 class="mb-2">
                  <a
                    href={book.links[0].url}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {book.title}
                  </a>
                </h4>
                <p class="mb-2">{book.author}</p>
                <p class="mb-4">{book.description}</p>
                <ul class="book-links">
                  {book.links.map((link: Link) => (
                    <li>
                      <a
                        href={link.url}
                        target="_blank"
                        rel="noopener noreferrer nofollow"
                        aria-label={link.name}
                        class="btn-retro btn-retro-sm btn-icon"
                      >
                        <i class="fa-brands fa-readme mr-2"></i>
                        {link.name}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
