---
import Base from "@/layouts/Base.astro";
import ContentLead from "@/layouts/components/ContentLead.astro";
import ContentSection from "@/layouts/components/ContentSection.astro";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

// Get FAQ content
const faq = (await getEntry(
  "faq",
  "-index"
)) as CollectionEntry<"faq">;

const { title, meta_title, description, intro, sections, cta } = faq.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
>
  <!-- Intro Lead Section -->
  <ContentLead
    title={title}
    content={intro.content}
    image=""
    quote=""
    author=""
  />

  <!-- FAQ Sections -->
  {sections.map((section: any, index: number) => (
    <ContentSection
      title={section.title}
      content={section.content}
      image=""
      index={index}
      id={section.id}
      fullWidthImage={true}
    />
  ))}

  <!-- Call to Action -->
  <section class="section-sm bg-black text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="lg:col-7 md:col-9 text-center">
          <a href={cta.link} class="btn-retro btn-lg">
            {cta.text}
          </a>
        </div>
      </div>
    </div>
  </section>
</Base> 